@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "clash";
  src: url("./fonts/clash.woff2");
}

.text-shadow-clash-style {
  text-shadow: -1px 1px 0 #000000, 1px -1px 0 #000000, -1px -1px 0 #000000,
    1px 2px 0 #000000;
}
