@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html.dark {
  color-scheme: dark;
}

@font-face {
  font-family: "clash";
  src: url("./fonts/clash.woff2");
}

body {
  @apply bg-white dark:bg-black;
}
